<!DOCTYPE html>

<title>Plataforma index</title>

{% block body %}
    <h1>Plataforma index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plataforma in plataformas %}
            <tr>
                <td>{{ plataforma.id }}</td>
                <td>{{ plataforma.nombre }}</td>
                <td>
                    <a href="{{ path('plataforma_show', {'id': plataforma.id}) }}">show</a>
                    <a href="{{ path('plataforma_edit', {'id': plataforma.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('plataforma_new') }}">Create new</a>
{% endblock %}
