<!DOCTYPE html>

<title>DetallePedido</title>

{% block body %}
    <h1>DetallePedido</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detalle_pedido.id }}</td>
            </tr>
            <tr>
                <th>CantidadCompra</th>
                <td>{{ detalle_pedido.cantidadCompra }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ detalle_pedido.total }}</td>
            </tr>
            <tr>
                <th>PrecioVideojuego</th>
                <td>{{ detalle_pedido.precioVideojuego }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('detalle_pedido_index') }}">back to list</a>

    <a href="{{ path('detalle_pedido_edit', {'id': detalle_pedido.id}) }}">edit</a>

    {{ include('detalle_pedido/_delete_form.html.twig') }}
{% endblock %}
