{{ form_start(form) }}

{% if not form.vars.valid %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {# Loop through every form item #}
        {% for child in form.children %}
            {# Display the errors of the form item #}
            {% for error in child.vars.errors %}
                <span class="d-block m-2">{{error.message}}</span>
            {% endfor %}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<div class="form-group row">
    {{ form_label(form.nombre, 'Nombre', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.lanzamiento, 'Lanzamiento', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.lanzamiento, {'attr': {'class': 'datepicker'}}) }}
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.fechaHoraEntrada,'Fecha Entrada', {'label_attr': {'class': 'col-sm-3'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.fechaHoraEntrada, {'attr': {'class': 'datetimepicker'}}) }}
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.precio,'Precio', {'label_attr': {'class': 'col-sm-3'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.precio, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.descuento,'Descuento', {'label_attr': {'class': 'col-sm-3'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.descuento, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.stock,'Stock', {'label_attr': {'class': 'col-sm-3'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.descripcion,'Descripción', {'label_attr': {'class': 'col-sm-3'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.descripcion, { 'attr': {'class': 'form-control', 'rows':'6', 'style':'resize: none;'} }) }}
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.categoria,'Categoría', {'label_attr': {'class': 'col-sm-3'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.categoria,{'attr':{'class':'custom-select'}}) }}
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.plataforma,'Plataforma', {'label_attr': {'class': 'col-sm-3'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.plataforma,{'attr':{'class':'custom-select'}}) }}
    </div>
</div>
<div class="custom-file mb-3">
    {{ form_widget(form.imgPrincipal,{'attr':{'class':'custom-file-input'}}) }}
    {{ form_label(form.imgPrincipal,'Imagen Principal',{'label_attr': {'class': 'custom-file-label'}}) }}
</div>
<div class="custom-file mb-3">
    {{ form_widget(form.imagenes,{'attr':{'class':'custom-file-input'}}) }}
    {{ form_label(form.imagenes,'Imagenes',{'label_attr': {'class': 'custom-file-label'}}) }}
</div>
<button class="btn btn-success ">{{ button_label|default('Crear') }}</button>
{{ form_end(form) }}