{% extends 'backend/base.html.twig' %}
{% block title %}Listado de Videojuegos
{% endblock %}
{% block body %}
    <div class="card mt-4 mb-4">
        <div class="card-header">
            <h1 class="display-6">Listado de videojuegos</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for videojuego in videojuegos %}
                        <tr>
                            <td>{{ videojuego.id }}</td>
                            <td>{{ videojuego.nombre }}</td>
                            <td>{{ videojuego.precio }}&euro;</td>
                            <td>{{ videojuego.stock }}</td>
                            <td>
                                <a class="btn btn-outline-info btn-sm"
                                   data-toggle="tooltip" data-placement="top" title="más información"
                                   href="{{ path('app_videojuego_show', {'id': videojuego.id}) }}"
                                   aria-label="moreInfo">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a class="btn btn-outline-warning btn-sm"
                                   data-toggle="tooltip" data-placement="top" title="Editar"
                                   href="{{ path('app_videojuego_edit', {'id': videojuego.id}) }}"
                                   aria-label="Edit">
                                    <i class="fas fa-pen-square"></i>
                                </a>
                            </td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">No se han encontrado datos</td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                {{ knp_pagination_render(videojuegos, null, {}, {
                    'align': 'center',
                    'rounded': true,
                }) }}
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ path('app_videojuego_new') }}" class="btn btn-dark text-capitalize text-white">Nuevo
                Videojuego</a>
        </div>
    </div>

{% endblock %}




