<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Videojuegos Jaén
        {% endblock %}
    </title>
    {% block stylesheets %}
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="{{ asset('frontend/css/bootstrap.min.css') }}">
        <!--Font Awesome CSS-->
        <link rel="stylesheet" href="{{ asset('frontend/css/fontawesome.min.css') }}">
        <!-- carousel-->
        <link rel="stylesheet" href="{{ asset('frontend/css/carousel/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/carousel/owl.theme.default.css') }}">
        <!-- Theme stylesheet-->
        <link rel="stylesheet" href="{{ asset('frontend/css/style.default.css') }}">
        <!--Mi css-->
        <link rel="stylesheet" href="{{ asset('frontend/css/main.css') }}">
    {% endblock %}

</head>
<body>
<header class="header mb-5">
    {% include '/frontend/comunes/_navbarTop.html.twig' %}
    {% include '/frontend/comunes/_navbarMedium.html.twig' %}
</header>

<div id="all">
    <div id="content">
        {% block body %}
            
        {% endblock %}
    </div>
</div>


{% block javascripts %}
    <script src="{{ asset('frontend/js/jquery/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ asset('frontend/js/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('frontend/js/carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('frontend/js/carousel/carousel_thumbs/owl.carousel2.thumbs.js') }}"></script>
    <script src="{{ asset('frontend/js/misJS/indexPage.js') }}"></script>
    <script src="{{ asset('frontend/js/misJS/ajax.js') }}"></script>
    <script src="{{ asset('frontend/js/misJS/catalogoVideojuegosAjax.js')}}"></script>
{% endblock %}
</body>
</html>