<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Videojuegos Jaén
        {% endblock %}
    </title>
    {% block stylesheets %}
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="{{ asset('frontend/css/bootstrap.min.css') }}">
        <!--Font Awesome CSS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <!-- carousel-->
        <link rel="stylesheet" href="{{ asset('frontend/css/carousel/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('frontend/css/carousel/owl.theme.default.css') }}">
        <!-- Theme stylesheet-->
        <link rel="stylesheet" href="{{ asset('frontend/css/style.default.css') }}">
        <!--Mi css-->
        <link rel="stylesheet" href="{{ asset('frontend/css/main.css') }}">
    {% endblock %}

</head>
<body>
<header class="header mb-5">
    {% include '/frontend/comunes/_navbarTop.html.twig' %}
    {% include '/frontend/comunes/_navbarMedium.html.twig' %}
</header>
{% if app.user != null %}
        <div class="userInSesion" data-user="{{app.user.id}}"></div>
    {% endif %}
<div id="all">
    <div id="content">
        {% block body %}
            
        {% endblock %}
    </div>
</div>
    
{% include '/frontend/comunes/_footer.html.twig' %}
<img class="fondo-pagina-top" src="{{ asset('img/fondo/bg-top.png') }}" alt>
<img class="fondo-pagina-bottom" src="{{ asset('img/fondo/bg-bottom.png') }}" alt>
{% block javascripts %}
    <script src="{{ asset('frontend/js/jquery/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ asset('frontend/js/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('frontend/js/carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('frontend/js/carousel/carousel_thumbs/owl.carousel2.thumbs.js') }}"></script>

    <!--#####Mis librerias####-->
    <script src="{{ asset('frontend/js/misJS/indexPage.js') }}"></script>
    <script src="{{asset('frontend/js/misJS/menuAJAX.js')}}"></script>
    <script src="{{ asset('frontend/js/misJS/catalogoVideojuegosAjax.js')}}"></script>
    <script src="{{ asset('frontend/js/misJS/micuentaAjax.js')}}"></script>
    <script src="{{ asset('frontend/js/misJS/carritoAjax.js')}}"></script>
{% endblock %}
</body>
</html>