{{ form_start(form) }}

<div class="form-group row">
    {{ form_label(form.nombre,'Nombre', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.ape1,'Apellido 1',{'label_attr':{'class':'col-sm-3 col-form-label'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.ape1, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.ape2,'Apellido 2',{'label_attr':{'class':'col-sm-3 col-form-label'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.ape2, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.password,'Contraseña',{'label_attr':{'class':'col-sm-3 col-form-label'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.email,'Email',{'label_attr':{'class':'col-sm-3 col-form-label'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>

<div class="form-group row">
    {{ form_label(form.direccion,'Dirección',{'label_attr':{'class':'col-sm-3 col-form-label'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.direccion, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<div class="form-group row">
    {{ form_label(form.roles,'Roles',{'label_attr':{'class':'col-sm-3 col-form-label'}}) }}
    <div class="col-sm-8">
        {{ form_widget(form.roles, { 'attr': {'class': 'form-control'} }) }}
    </div>
</div>
<button class="btn btn-success">{{ button_label|default('Crear') }}</button>
{{ form_end(form) }}
