{% extends 'backend/base.html.twig' %}
{% block title %}Listado de Usuarios
{% endblock %}

{% block body %}
    <div class="card mt-4 mb-4">
        <div class="card-header">
            <h1 class="display-6">Listado de Usuarios</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
                            <td>
                                <a class="btn btn-outline-info btn-sm" data-toggle="tooltip" data-placement="top" title="Mas Información" href="{{ path('app_usuario_show', {'id': usuario.id}) }}" aria-label="moreInfo">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a class="btn btn-outline-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Editar" href="{{ path('app_usuario_edit', {'id': usuario.id}) }}" aria-label="Edit">
                                    <i class="fas fa-pen-square"></i></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ path('app_usuario_new') }}" class="btn btn-dark text-capitalize text-white">Nuevo Usuario</a>
        </div>
    </div>
{% endblock %}
