{% extends 'backend/base.html.twig' %}
{% block title %}Más información del usuario
{% endblock %}

{% block body %}

    <div class="card mt-4 mb-4">
        <div class="card-header">
            <h1 class="display-6">Información del usuario</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i>Nombre:</i>{{ usuario.nombre }}</li>
                    <li class="list-group-item"><i>Primer Apellido:</i>{{ usuario.ape1 }}</li>
                    <li class="list-group-item"><i>Segundo Apellido:</i>{{ usuario.ape2 }}</li>
                    <li class="list-group-item"><i>Email:</i> {{ usuario.email }}</li>
                    <li class="list-group-item"><i>Contraseña:</i> {{ usuario.password }}</li>
                    <li class="list-group-item"><i>Dirección:</i>{{ usuario.direccion }}</li>
                    <li class="list-group-item"><i>Rol:</i> {{ usuario.roles ? usuario.roles|json_encode : '' }}</li>

                </ul>
            </div>
        </div>
        <a href="{{ path('app_usuario_index') }}" class="text-primary">
            <i class="fas fa-caret-square-left"></i>Volver a lista</a>
        <div class="card-footer">
            <a class="btn btn-secondary float-left mr-2"
               href="{{ path('app_usuario_edit', {'id': usuario.id}) }}"> Editar </a>
            {{ include('backend/usuario/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
