{% extends 'backend/base.html.twig' %}
{% block title %}Categorías
{% endblock %}

{% block body %}

    <div class="card mt-4 mb-4">
        <div class="card-header">
            <h1 class="display-6">Listado de categorías</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>acciones</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for categorium in categorias %}
                        <tr>
                            <td>{{ categorium.id }}</td>
                            <td>{{ categorium.nombre }}</td>
                            <td>
                                <a class="btn btn-outline-info btn-sm"
                                   data-toggle="tooltip" data-placement="top" title="más información"
                                   href="{{ path('app_categoria_show', {'id': categorium.id}) }}"
                                   aria-label="moreInfo">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a class="btn btn-outline-warning btn-sm"
                                   data-toggle="tooltip" data-placement="top" title="Editar"
                                   href="{{ path('app_categoria_edit', {'id': categorium.id}) }}"
                                   aria-label="Edit">
                                    <i class="fas fa-pen-square"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No se ha encontrado datos</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <a href="{{ path('app_categoria_new') }}" class="btn btn-dark text-capitalize text-white">Nueva
                Categoría</a>
        </div>
    </div>
{% endblock %}
