<nav class="navbar navbar-expand-lg color-nav-frontend">
    <div class="container">
        <a href="{{ path('app_index_frontend') }}" class="navbar-brand home"><img
                    src="{{ asset('img/logo/logo-empresa.png')  | imagine_filter('logoPaginaGrande') }}"
                    alt="Videojuegos Jaén"
                    class="d-none d-md-inline-block"><img
                    src="{{ asset('img/logo/logo-empresa.png')  | imagine_filter('logoPaginaPequenia') }}"
                    alt="Videojuegos Jaén" class="d-inline-block d-md-none"><span class="sr-only">Videojuegos Jaén - ir a la página principal</span>
        </a>
        <div id="navigation" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="{{path('app_index_frontend')}}" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="{{path('app_catalogo_videojuegos')}}" class="nav-link">Catálogo</a></li>
            </ul>
        </div>
    </div>
</nav>